@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-background: #121212;
	--primary-dark-grey: #585858;
	--primary-medium-grey: #C1C1C1;
	--primary-light-grey: #E0E0E0;
	--primary-white: white;
	--primary-accent-pink: #E054B9;
}

.text-highlight {
	color: var(--primary-accent-pink);
	font-style: italic;
}