@tailwind base;
@tailwind components;
@tailwind utilities;

/* =================== imported fonts =================== */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* ------- sub-header ------- */

/* =================== global variables =================== */
:root {
  --background: #121212;
  --dark-grey: #585858;
  --medium-grey: #c1c1c1;
  --light-grey: #e0e0e0;
  --white: white;
  --pink: #e058b9;

  --font: "Inter", sans-serif;
}

/* =================== reset default styles =================== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =================== base page styles =================== */
body {
  background: var(--background);
  color: var(--light-grey);
  font-family: var(--font);
  font-size: var(--paragraph);
}

/* =================== font styles =================== */
h1 {
  font-size: 3em;
  text-transform: capitalize;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

p,
a {
  font-size: 1em;
}

/* =================== constants =================== */
.button-pink {
  background-color: var(--pink);
  border-radius: 10000px;
  font-weight: 600;
}

.text-highlight {
  color: var(--pink);
  font-style: italic;
}

/* =================== DESKTOP =================== */
@media only screen and (min-width: 64.063em) {
  h1 {
    font-size: 5em;
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 2em;
  }

  p,
  a {
    font-size: 1.12em;
  }
}